body {
    font-family: Arial, sans-serif;
    background: url('pertemanan.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    color: #ffffff;
    text-shadow: 
        1px 1px 0 #ffffff, 
        -1px -1px 0 #ffffff,  
        1px -1px 0 #ffffff,
        -1px 1px 0 #ffffff;
}

a {
    color: #d9f13c;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #ffffff;
}
